body{
    margin: 0;
}
#bar{
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #4245f4;
    color: white;    
    width: 100vw;
    height: 10vh;
    line-height: 10vh;
    padding-left: 5vw;
    box-sizing: border-box;
    display: inline-block;
}
.center{
    text-align: center;
}